<h1 class="m-left-3 m-bottom-2">Table example</h1>

<div style="display: flex; flex-direction: column; display: none">
  <div style="display: flex; flex-direction: row">
    <button class="button save filled">Save</button>
    <button class="button info filled">Info</button>
    <button class="button warning filled">Warning</button>
    <button class="button delete filled">Delete</button>
  </div>
  <div style="display: flex; flex-direction: row">
    <button class="button save outlined">Save</button>
    <button class="button info outlined">Info</button>
    <button class="button warning outlined">Warning</button>
    <button class="button delete outlined">Delete</button>
  </div>
</div>

<div style="display: flex; flex-direction: column" class="m-left-5 m-right-5">
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
    "
  >
    <app-checkbox
      [(value)]="filterCompletedValue"
      [label]="'Filter completed:'"
      (onChanged)="onFilterChanged()"
    ></app-checkbox>
    <input class="m-right-3 info" type="text" [(ngModel)]="searchQuery" />
    <button class="button info outlined m-right-3" (click)="onFilterChanged()">
      Search
    </button>
    <button class="button save filled" (click)="openDialog()">Add +</button>
  </div>
  <ng-component *ngTemplateOutlet="createDialog"></ng-component>
  <table *ngIf="pagination && todos" class="table m-top-3 m-bottom-3">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Completed</th>
        <th style="text-align: end">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{ todo.id }}</td>
        <td>{{ todo.title }}</td>
        <td>{{ todo.priority?.name }}</td>
        <td *ngIf="todo.completed">Yes</td>
        <td *ngIf="!todo.completed">No</td>
        <td style="text-align: end; width: 30%">
          <button
            *ngIf="!todo.completed"
            class="button info outlined"
            (click)="completeTodo(todo.id)"
          >
            Complete
          </button>
          <button
            *ngIf="todo.completed"
            class="button warning outlined"
            (click)="unfinishTodo(todo.id)"
          >
            Unfinish
          </button>
          <button
            class="button delete outlined m-left-2"
            (click)="delete(todo.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination
    [pagination]="pagination"
    (changePage)="gotoPage($event)"
    (selectedHitsChanged)="onSelectedHitsChanged($event)"
  ></app-pagination>
</div>

<ng-template #createDialog>
  <app-dialog [(isOpen)]="isAdding">
    <form [formGroup]="todoForm" (ngSubmit)="add()">
      <div style="display: flex; flex-direction: column">
        <div style="display: flex; flex-direction: row; align-items: center">
          <p class="m-right-2">Title:</p>
          <input
            type="text"
            style="
              border: 2px var(--teal) solid;
              border-radius: 20px;
              color: var(--text);
              background-color: var(--base);
              font-size: 1rem;
              padding-left: 1rem;
              padding-right: 1rem;
              height: 2rem;
            "
            formControlName="title"
          />
        </div>
        <div style="display: flex; flex-direction: row; align-items: center">
          <p class="m-right-2">Priority:</p>
          <input
            type="number"
            min="1"
            max="5"
            value="3"
            style="
              border: 2px var(--teal) solid;
              border-radius: 20px;
              color: var(--text);
              background-color: var(--base);
              font-size: 1rem;
              padding-left: 1rem;
              padding-right: 1rem;
              height: 2rem;
              width: 100%;
            "
            formControlName="priority"
          />
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
          "
          class="m-top-2"
        >
          <button
            class="button save filled"
            type="submit"
            [disabled]="!todoForm.valid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </app-dialog>
</ng-template>
